/* .home-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/src/assets/bibl.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
  }
   */